@*@page*@
@*@model MummyWeb.Views.Home.BurialListModel*@

@{
}

@*@model IQueryable<Burialmain>*@
@model BurialViewModel

@*<p>Selected: @ViewBag.test</p> *@

<h1>Fag el-Gamous Burials</h1>


<div>
    <form method="post" asp-action="BurialList">

        <p>Filter by</p>

        <select name="area">
            <option value="">area</option>
            @foreach (string area in Model.FilterForm.Areas)
            {
                <option name="filterArea" value="@area">@area</option>
            }
        </select>


        <select name="burialnumber">
            <option value="">burial number</option>
            @foreach (string burialnum in Model.FilterForm.Burialnumbers)
            {
                <option value="@burialnum">@burialnum</option>
            }
        </select>


        <select name="depth">
            <option value="">depth</option>
            @foreach (string depth in Model.FilterForm.Depths)
            {
                <option value="@depth">@depth</option>
            }
        </select>


        <select name="headdirection">
            <option value="">head direction</option>
            @foreach (string direction in Model.FilterForm.Headdirections)
            {
                <option value="@direction">@direction</option>
            }
        </select>


        <select name="ageatdeath">
            <option value="">age at death</option>
            @foreach (string age in Model.FilterForm.Ageatdeaths)
            {
                <option value="@age">@age</option>
            }
        </select>


        <select name="length">
            <option value="">estimate stature</option>
            @foreach (string stature in Model.FilterForm.Lengths)
            {
                <option value="@stature">@stature</option>
            }
        </select>


        <select name="sex">
            <option value="">sex</option>
            @foreach (string sex in Model.FilterForm.Sexs)
            {
                <option value="@sex">@sex</option>
            }
        </select>


        <select name="haircolor">
            <option value="">hair color</option>
            @foreach (string color in Model.FilterForm.Haircolors)
            {
                <option value="@color">@color</option>
            }
        </select>


        <button type="submit">Apply</button>

    </form>
</div>

<table class="table table-bordered table-striped" bgcolor="#f2f2f2">

    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Square N/S</td>
            <td>Square E/W</td>
            <td>Area</td>
            <td>Number</td>
            <td>Burial Depth</td>
            <td>Head Direction</td>
            <td>Age at Death</td>
            <td>Estimate Stature</td>
            <td>Sex</td>
            <td>Hair Color</td>
            <td>Details</td>
             @if (User.IsInRole("Admin"))
                {
            <td>Edit</td>
            <td>Delete</td>
                }
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Burials)
        {
           
            <tr>
                <td>@x.Id</td>
                <td>@x.Squarenorthsouth @x.Northsouth</td>
                <td>@x.Squareeastwest @x.Eastwest</td>
                <td>@x.Area</td>
                <td>@x.Burialnumber</td>
                <td>@x.Depth</td>
                <td>@x.Headdirection</td>
                <td>@x.Ageatdeath</td>
                <td>@x.Length</td>
                <td>@x.Sex</td>
                <td>@x.Haircolor</td>
               
                    <td><a asp-controller="Home" asp-action="detailsburialitem" asp-route-id="@x.Id">View Details</a></td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a asp-controller="Home" asp-action="editBurialList" asp-route-id="@x.Id">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="deleteBurialItem" asp-route-id="@x.Id">Delete</a></td>
                } else
                {
                    
                }
            </tr>
              
            }
    </tbody>

</table>

<br />
@*<a asp-action="BurialList" asp-route-pageNum="1">1</a>
<a asp-action="BurialList" asp-route-pageNum="2">2</a>
<a asp-action="BurialList" asp-route-pageNum="3">3</a>*@

@*<div page-blah="@Model.PageInfo" page-action="BurialList" 
      page-classes-enabled="true"></div>*@


<div page-blah="@Model.PageInfo" page-action="BurialList" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">

</div>
