@model BurialViewModel


@{
    ViewData["Title"] = "View";
}
<div class="container">
    <div class="about-heading-content">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">

<h1>Burial Details</h1>


<!-- Access other textile properties as needed -->
<h1>View</h1>
    <div>
        <h4>Burialmain</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Squarenorthsouth)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Squarenorthsouth)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Headdirection)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Headdirection)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Sex)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Sex)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Northsouth)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Northsouth)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Depth)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Depth)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Eastwest)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Eastwest)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Adultsubadult)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Adultsubadult)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Facebundles)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Facebundles)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Southtohead)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Southtohead)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Preservation)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Preservation)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Fieldbookpage)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Fieldbookpage)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Squareeastwest)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Squareeastwest)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Goods)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Goods)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Text)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Text)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Wrapping)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Wrapping)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Haircolor)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Haircolor)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Westtohead)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Westtohead)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Samplescollected)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Samplescollected)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Area)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Area)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Burialid)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Burialid)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Length)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Length)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Burialnumber)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Burialnumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Dataexpertinitials)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Dataexpertinitials)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Westtofeet)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Westtofeet)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Ageatdeath)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Ageatdeath)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Southtofeet)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Southtofeet)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Excavationrecorder)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Excavationrecorder)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Photos)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Photos)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Hair)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Hair)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Burialmaterials)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Burialmaterials)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Dateofexcavation)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Dateofexcavation)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Fieldbookexcavationyear)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Fieldbookexcavationyear)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Clusternumber)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Clusternumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.BurialMain.Shaftnumber)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.BurialMain.Shaftnumber)
            </dd>
        </dl>
    </div>
   

    <div>
          @if (User.IsInRole("Admin"))
    {
         <a asp-action="editBurialList" asp-route-id="@Model.BurialMain.Id">Edit</a>
    }
                        <a asp-action="BurialList">Back to List</a>
    </div>

<p><strong>Burial ID:</strong> @Model.BurialMain.Id</p>


<!--Textile table-->
<h3>Textiles</h3>
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Locale</td>
            <td>TextileID</td>
            <td>Description</td>
            <td>BurialNumber</td>
            <td>Estimated Period</td>
            <td>Photographed Date</td>
            <td>Direction</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Textile)
        {

        <tr>
            <td>@i.Id</td>
            <td>@i.Locale</td>
            <td>@i.Textileid</td>
            <td>@i.Description</td>
            <td>@i.Burialnumber</td>
            <td>@i.Estimatedperiod</td>

            <a class="nav-link text-dark" asp-area="" asp-route-id="@i.Id" asp-controller="Home" asp-action="EditTextile">Edit Textile @i.Id</a>
            <td><a asp-controller="Home" asp-action="DeleteTextile" asp-route-id="@i.Id">Delete Item @i.Id</a></td>
        </tr>
        <br />
    }

            <td>@i.Photographeddate</td>
            <td>@i.Direction</td>

        </tr>
        }
        </tbody>
</table>

<!--Photo Table-->
<h3>Photos</h3>
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr >
            <td>ID</td>
            <td>Description</td>
            <td>Filename</td>
            <td>PhotoDataID</td>
            <td>Date</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Photos)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Description</td>
                <td>@i.Filename</td>
                <td>@i.Photodataid</td>
                <td>@i.Date</td>
                <td>@i.Url</td>

            </tr>
        }
    </tbody>
</table>
    <!-- Access other burial main properties as needed -->



    @if (Model.BodyAnalysis != null)
    {
        <td><a class="nav-link text-dark" asp-area="" asp-route-burialmainid="@Model.BodyAnalysis.Id" asp-controller="Home" asp-action="EditBodyAnalysis">Edit</a></td>
        <td><a asp-controller="Home" asp-action="DeleteBodyAnalysis" asp-route-id="@Model.BodyAnalysis.Id">Delete</a></td>
        <tr>
            <td>@Model.BodyAnalysis.Id</td>
            <td>@Model.BodyAnalysis.Squarenorthsouth</td>
        </tr>

        <br />
    }
    else
    {
        <a class="nav-link text-dark" asp-area="" asp-route-burialmainid="@Model.BurialMain.Id" asp-controller="Home" asp-action="CreateBodyAnalysis">Create</a>
    }
    @foreach (var i in Model.Photos)
    {
        <tr>
            <td>@i.Id</td>
            <td>@i.Description</td>
            <a class="nav-link text-dark" asp-area="" asp-route-pictureid="@i.Id" asp-controller="Home" asp-action="EditPicture">Edit Photo</a>
            <td><a asp-controller="Home" asp-action="DeletePicture" asp-route-id="@i.Id">Delete Item @i.Id</a></td>
            <h1>Photos</h1>
        </tr>
        <br />
    }


                        <br />


    @if (Model.C14 != null)
    {
        <tr>
            <td>@Model.C14.Id</td>
            <td>@Model.C14.Agebp</td>
        </tr>
    }
    }

                </div>
            </div>
        </div>
    </div>
</div>